{% extends "layout.html" %}
<!--Html specific to the homepage goes in the content block-->
{% block content %}
<div class="content">
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <!--Form field for entering ingredients-->
    <div class="text-field">
      {{ form.ingredients.label }}
      {% if form.ingredients.errors %}
        {{ form.ingredients }}
        <div>
          {% for error in form.ingredients.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.ingredients }}
      {% endif %}
    </div>
    <!--Form field for entering appliances-->
    <div class="text-field">
      {{ form.num_of_recipes.label }}
      {% if form.num_of_recipes.errors %}
        {{ form.num_of_recipes }}
        <div>
          {% for error in form.num_of_recipes.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.num_of_recipes }}
      {% endif %}
    </div>
    <!--Submit button-->
    <div class="submit-field">
      {{ form.submit }}
    </div>
</form>
{% endblock content %}
</div>
