<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
       <!-- Connects stylesheet to webpages -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Displays the words that show up on the top of the browser tab-->
    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>Recipe Finder</title>
    {% endif %}
  </head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Thai+Looped">
  <body>
    <header>
      <!--Navbar html starts here -->
      <div class="container">

      <img src="static/cooklogo.png" width="40" height="40" alt="logo" class="logo">

      <nav>

        <ul>
         <li><a href="{{ url_for('home') }}">Home</a></li>
         <li><a href="{{ url_for('manual') }}">User Manual</a></li>
         <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>

      </nav>

    </div>

      <!--Navbar html ends here -->
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
  </body>
</html>
