{% extends "layout.html" %}
<!--Html specific to the manual page goes in the content block-->
{% block content %}
<div class="usermanual">
<p>
<h2>Welcome to the Cookbook!</h2>

Enter any ingredients you have on-hand. Next, enter the kitchenware you available to you. The Cookbook will generate the top 5 recipes you can make with what you have at home!<br>

Tips to avoid error:<br>
- Ensure your list items are separated by commas:<br>
<mark>Ex: Eggs, sugar, milk, bread, cinnamon </mark><br>
- Enter more items for more accurate results.<br>
</p>
{% endblock content %}
</div>