{% extends "layout.html" %}
<!--Html specific to the manual page goes in the content block-->
{% block content %}
<div class="usermanual">
<p>
  <h2>Welcome to In Every Byte!</h2>

  Enter any ingredients you have on-hand. Next, enter the number of recipes you want. In Every Byte will generate the recipes you can make with that ingredient you have!<br>

  Tips to avoid error:<br>
  - Ensure your list items are separated by commas:<br>
  <div class="highlight"><span class="grey">Ex:<span class="green">Eggs, sugar, milk, bread, cinnamon <span class="grey"> not <span class="red">apple,milkCheese butter,chicken</span> </div>
  - Enter more items for more accurate results.<br>
  - Ensure your # of recipes is a number:<br>
  <div class="highlight"><span class="grey">Ex:<span class="green"> 5 <span class="grey"> not <span class="red">five</span> </div>
</div>
<br>
{% endblock content %}
