/* Placeholder */
body {
	margin:  0;
	background-color: #EEEEEE;
  background-image: linear-gradient(to right, transparent, gray), url('https://images.unsplash.com/photo-1506368249639-73a05d6f6488?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
  background-repeat: no-repeat;
  background-attachment: fixed;
   background-position: -20% 20%;
	font-family: "IBM Plex Sans Thai Looped", sans-serif;
	font-weight:  400;
}

.container {
	width:  90%;
	margin:  0 auto;
}

header {
	background: #FFFFFF;
}

header::after {
	content: "";
	display: table;
	clear: both;
}

.logo {
	float: left;
	padding:  10px 0;
}

nav {
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display:  inline-block;
	margin-left: 70px;
	padding-top: 22px;

	position: relative;
}

nav ul > li > a {
 color:  #555555;
 text-decoration: none;
 text-transform: uppercase;
 font-size: 14px;
}

nav a:hover {
	color: #EE5535;
}

nav a::before {
	content: "";
	display:  block;
	height: 5px;
	width:  0%;
	background-color: #EE5535;

	position:  absolute;
	top: 0;
	transition: all ease-in-out 200ms;
}

nav a:hover::before {
	width: 100%;
}



.content {

  border-radius: 25px;
  background: #FFFFFF;
  position: relative;
  left: 40%;
  top: 30%;
  padding: 40px;
  width: 750px;
  height: 300px;

}

.contact {
border-radius: 25px;
  background: #FFFFFF;
  position: relative;
  left: 40%;
  top: 30%;
  padding: 40px;
  width: 750px;
  height: 300px;
}